.button {
  height: 2rem ;
  color: #FBFCFC;
  border: none ;
  border-radius: 6px ;
  box-shadow: 0 3px rgba(0, 0, 0, 0.2) ;
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.button:hover {
  color: #DAF7A6;
}
  
.button:active {
  box-shadow: 0 3px #666;
  transform: translateY(1px);
}