.header {
    width: 100%;
    height: 6rem;
    background-color: #21618C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 10
  }
  .header h1 {
    padding: 5rem;
    color: #FFC300;
  }
  .header ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
  }
  
  .header li {
    margin: 0 ;
    padding: 2rem;
  }
  
  .header a {
    color: #DAF7A6;
    text-decoration: none;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: #FFC300;
  }
  
  @media screen and (max-width : 540px) {
    .header h1 {
      padding: 1rem;
      color: #FFC300;
      font-size: 1.25rem;
    }
    
    .header li {
      margin: 0 ;
      padding: 1rem;
      font-size: 0.85rem;
    }
  }