.header {
    width: 100%;
    height: 6rem;
    background-color: #21618C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .header h1 {
    padding: 6rem;
    color: #FFC300;
  }
  .header ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
  }
  
  .header li {
    margin: 0 ;
    padding: 1rem;
  }
  
  .header a {
    color: #DAF7A6;
    text-decoration: none;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: #FFC300;
  }
  
  @media (min-width: 768px) {
    .header ul {
      gap: 0.5rem;
    }
  
  }