.maincontainer {
  flex-direction: row;
  width: 100%;
  height: 100%;
  display:flex; 
  justify-content: center;
}
.maindiv {
  margin-bottom: 8rem;
  display:flex; 
  flex-direction: column; 
  justify-content: center;
  position: absolute;
  bottom: 0;
  /* z-index: 100, */
}
.h1 {
  color: #21618C;
  text-align: center;
  width: 40rem;
}
.h3 {
  color: #21618C;
  text-align: center;
  padding: 0;
}
.innerdiv { 
  display: flex; 
  flex-direction: row; 
  align-items: center;
  justify-content: center;
}
.inputdiv {
  margin-right: 1rem;
}
.strong {
  color: #1B4F72; 
  font-size: 1.2rem;
}
.imgdiv {
  width: 500 
}

@media (min-width: 768px) {
  .maindiv {
    font-size: 1rem;
  }
}
