.maincontainer {
  display:flex; 
  flex-direction: row;
}
.maindiv {
  width: 385; 
  height: 450;
  margin: 5rem
}
.h3 {
  color: #21618C;
}
.innerdiv { 
  margin-top: 7rem; 
  display: flex; 
  flex-direction: row; 
  justify-content: center;
}
.inputdiv {
  margin-right: 1rem;
}
.strong {
  color: #1B4F72; 
  font-size: 1.2rem;
}
.imgdiv {
  width: 500 
}
