.maindiv {
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #FBFCFC; 
    height: 565;
}
.subdiv {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    border-radius: 12px; 
    border: 2px solid #1B4F72; 
    width: 40rem; 
    height: 18rem; 
    margin-top: 3rem;
}
.inputdiv {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 1rem
}
.lbl { 
    width: 9rem
}
.str {
    color: #1B4F72; 
    font-size: 1.2rem; 
    margin-right: 1rem
}
.btndiv { 
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-top: 1rem;
}
.result {
    color: #1B4F72; 
    font-size: 1.2rem
}