.maindiv {
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #FBFCFC; 
}
.subdiv {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    border-radius: 12px; 
    border: 2px solid #1B4F72; 
    width: 40rem; 
    height: 20rem; 
    margin-top: 3rem;
}
.inputdiv {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 1rem;
}
.lbl { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin-right: 1rem;
}
.str {
    color: #1B4F72; 
    font-size: 1.2rem; 
}
.btndiv { 
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-top: 1rem;
}
.result {
    color: #1B4F72; 
    font-size: 1.2rem
}

@media screen and (max-width : 540px) {
    .subdiv {
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        border-radius: 12px; 
        border: 2px solid #1B4F72; 
        width: 21rem; 
        height: 15rem; 
        margin-top: 5rem;
    }
    .inputdiv {
        display: flex; 
        align-items: center; 
        justify-content: center; 
        margin-bottom: 1rem;
        width: 96%;
    }
    .str {
        color: #1B4F72; 
        font-size: 0.85rem; 
    }
    .result {
        color: #1B4F72; 
        font-size: 0.85rem
    }
  }